html {

    background: linear-gradient(to bottom right, lightblue, lightcyan);
    min-height: 100%;

}

body {

    font-family: Segoe Script, arial;
    font-size: 20px;
    min-height: 100%;
    margin: 0px;

}

header {

    text-align: center;
    background: linear-gradient(to bottom right, silver, lightgrey);
    padding-top: 10px;

}

.line {

    height: 2px;
    background-color: black;

}

h1 {

    font-size: 60px;
    font-family: Buxton Sketch, arial;
    margin: 0px;

}

h4 {

    line-height: 20px;
    font-size: 20px;
    margin-top: 0px;

}

#green {

    color: green;

}

#red {

    color: red;

}

main {

    text-align: center;
    height: auto;

}

#contenu {

    display: inline-block;
    width: 80%;
    justify-content: center;
    border: 1px solid black;
    border-radius: 15px;
    padding: 15px;
    margin: 3% 0px 3% 0px;
    background: linear-gradient(to bottom right, silver, lightgrey);

}

#contenu>p {

    font-size: 20px;
    margin: 0 0 10px 0;

}

#buttons {

    display: flex;
    justify-content: space-around;
    margin-bottom: 15px;

}

button {

    font-family: Segoe Script;
    border-radius: 10px;
    background: lightblue;
    font-size: 20px;
    line-height: 20px;
    padding: 3px;

}

#liste {

    display: flex;
    flex-direction: column;
    padding: 10px 5% 0px 5%;
    margin-top: 10px;

}

tr {

    width: 100%;
    margin-bottom: 10px;

}

td {

    display: flex;
    flex-direction: row;
    border: 3px groove black;
    padding: 5px;

}

td span {

    display: flex;
    width: 90%;
    height: 100%;
    padding-left: 15px;
    line-height: 50px;
    vertical-align: middle;


}

img {

    margin-left: 5px;

}

footer {


    font-family: arial;
    font-size: 16px;
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    background: linear-gradient(to bottom right, silver, lightgrey);

}

footer p {

    margin-bottom: 0px;
    padding-bottom: 15px;

}
